<footer class="site-footer">

  <div class="footer-columns">

    <div class="footer-column">

      <h4>Shopping</h4>

      <p>Vinterjackor</p>
      <p>Pufferjackor</p>
      <p>Kappa</p>
      <p>Trenchcoats</p>

    </div>

    <div class="footer-column">

      <h4>Mina Sidor</h4>

      <p>Mina Ordrar</p>
      <p>Mitt Konto</p>

    </div>

    <div class="footer-column">

      <h4>Kundtjänst</h4>

      <p>Returpolicy</p>
      <p>Integritetspolicy</p>

    </div>

  </div>

  <p class="copyright">
    © Freaky Fashion
  </p>

</footer>